<h3>Here is your floorplan! Choose the furniture categories to start planning your layout:</h3>



<li><a href="/furnitures/category/couch">Couch</a></li>
<li><a href="/furnitures/category/armchair">Armchair</a></li>
<li><a href="/furnitures/category/center-table">Center Table</a></li>
<li><a href="/furnitures/category/dinner-table">Dinner Table</a></li>
<li><a href="/furnitures/category/chair">Chair</a></li>
<li><a href="/furnitures/category/bed">Bed</a></li>
<ul>
	
		 <img src= <%= @unit.floorplan %> >

</ul>






</li>

<!--  http://www.dienerproperties.com/images/Brickell-Key/Isola/03-04-stbarts-1023sf-2bed.jpg -->