<p class= "Title"> Here is your floorplan. Choose the furniture categories to start planning your layout:</p>

<div class= "Categories">
	<button><a href="/furnitures/category/couch">Couch</a></button>
	<button><a href="/furnitures/category/armchair">Armchair</a></button>
	<button><a href="/furnitures/category/center-table">Side Table</a></button>
	<button><a href="/furnitures/category/dinner-table">Dinner Table</a></button>
	<button><a href="/furnitures/category/chair">Chair</a></button>
	<button><a href="/furnitures/category/bed">Bed</a></button>
</div>

<style>
	#div2 {
		background-image: url("<%= @unit.floorplan %>");
	}

	.draggable-thing {
		position: absolute;
	}
</style>

<div id= "div2" ondrop="drop(event)" ondragover="allowDrop(event)"> </div> <br>
<p class= "Selected_items_scaled"> Drag and Drop the items you selected </p>

<div id= "div1">
	<% if @saved_items.length != nil%>
		<% @saved_items.each_with_index do |x, index| %> 
			<div id="#{index}" ondrop="drop(event)" ondragover="allowDrop(event)">
			  <img src="<%=x.scaled_image%>" draggable="true" class="draggable-thing" ondragstart="drag(event)" id="<%= index + 100 %>" >
			</div>
		<% end %>
<%end%>
</div>

<!-- <form method="" action=""> -->
	<!--
	<input type="hidden" name="coordinates[][furniture_id]" value="5">
	<input type="hidden" name="coordinates[][top]" value="127">
	<input type="hidden" name="coordinates[][left]" value="458">
	-->
<!-- 
	<button> Save </button>
</form> -->


<script>




function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("image", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("image");
    var furniture = document.getElementById(data);
    ev.target.appendChild(furniture);

    furniture.style.top = ev.clientY + "px";
    furniture.style.left = ev.clientX + "px";
    console.log(furniture);
}

// var saved_coordinates = {
// 	coordinates: [
// 		{ furniture_id: <%= @furniture_id %>, top: ev.clientY + "px", left: ev.clientX + "px" },
// 	]
// }

// $.ajax({
// 	data: saved_coordinates,
// 	method: "GET",
// 	url: ,
// 	success: saveLayout
// })

// function saveLayout() {
// 	console.log("Layout Saved")

// }
</script>