<h3>Here is your floorplan. Choose the furniture categories to start planning your layout:</h3>


<div class= "Categories">
<button><a href="/furnitures/category/couch">Couch</a></button>
<button><a href="/furnitures/category/armchair">Armchair</a></button>
<button><a href="/furnitures/category/center-table">Side Table</a></button>
<button><a href="/furnitures/category/dinner-table">Dinner Table</a></button>
<button><a href="/furnitures/category/chair">Chair</a></button>
<button><a href="/furnitures/category/bed">Bed</a></button>
<ul>

	

	
		 <img src= <%= @unit.floorplan %> >

</ul>

</div>


