// Place all the styles related to the furnitures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .Furniture_list {
// 	height: 400px
// }

.Furniture_details {
	margin-top: 20px;
	margin-left: 50px;
	font-size: 20px;
	color: black;
	font-family: "Proxima Nova"

}

.Show_Title {
	margin-top: 20px;
	margin-left: 20px;
	font-size: 30px;
	color: black;
	font-family: "Proxima Nova"
}