// Place all the styles related to the furnitures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .Furniture_list {
// 	height: 400px
// }




.selection {
	margin-top: 15pt;
	margin-left: 30px;

}

.attributes {

	color: #767676;
	font-size: 20px;
	margin-left: 30px;

}

.sub-1 {

	color: #e68b2a;
	font-size: 20px;
	margin-left: 15px;

}

.cart-list {


	color: #767676;
	font-size: 20px;
	margin-left: 30px;


}

.total {

	
	color: #5c5c5c;
	font-size: 20px;
	margin-left: 35px;


}
