// Place all the styles related to the Units controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body {
font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
};

.header {
	background-image: url("stylish-orange-bedroom-interior-design-bedroom-interior-design-ideas-house-design-ideas.jpg");
	background-repeat: no-repeat;
	background-size: 1500px 1000px;
	color: #4b4b4b;
	font-size: 20px;
}


.Page-description {
	color: #e68b2a;
	font-size: 45px;
	margin-left: 20px;
	font-weight: bold;
}

.sub {

	color: #e68b2a;
	font-size: 20px;
	margin-left: 20px;

}

.units {

	color: #e68b2a;
	font-size: 20px;
	margin-left: 30px;

}







// // 
// // 	margin-top: 100px;
// // 	margin-left: 200px;
// // 	margin-right: 200px;
// // 	font-family: "Proxima Nova"


// // }

// .Header {
// 	margin-top: 100px;
// 	margin-left: 300px;
// 	margin-right: 300px;
// 	font-size: 60px;
// 	color: white;
// 	font-family: "Proxima Nova"

// }

.Home_Form {
	margin-top: 50px;
	font-size: 30px;
	opacity: 0.7;

}



// #floorplan-target {
// 	height: 600px;
// 	background-repeat: no-repeat;
// }



// // .banner {
// //  background-image: url("family.jpg");
// //  height: 600px;
// //  padding: 60px;
// //  background-repeat: no-repeat;