


<h3 class="Page-description">Furniture selection</h3>


<div class= Categories>
<button class="btn btn-lg btn-light"><a href="/furnitures/category/couch">Couch</a></button> <br>
	<button class="btn btn-lg btn-light"><a href="/furnitures/category/armchair">Armchair</a></button> <br>
	<button class="btn btn-lg btn-light"><a href="/furnitures/category/center-table">Side Table</a></button> <br>
	<button class="btn btn-lg btn-light"><a href="/furnitures/category/dinner-table">Dinner Table</a></button> <br>
	<button class="btn btn-lg btn-light"><a href="/furnitures/category/chair">Chair</a></button> <br>
	<button class="btn btn-lg btn-light"><a href="/furnitures/category/bed">Bed</a></button> 
</div>

<!-- <form class= "Filter">
		<p>Filter by Store :</p>
		<label for="store"> Ikea </label>
        <input type="checkbox" name="store[]" value="Ikea">

        <label for="store"> Target</label>
        <input type="checkbox" name="store[]" value="Target">

        <label for="store"> Overstock </label>
        <input type="checkbox" name="store[]" value="Overstock">

        <button> Filter </button>
</form>

<form class= "Filter">

		<p>Filter by Color :</p>
		<label for="color"> Black </label>
        <input type="checkbox" name="color[]" value="Black">

        <label for="color"> Grey </label>
        <input type="checkbox" name="color[]" value="Grey">

        <label for="color"> Beige </label>
        <input type="checkbox" name="color[]" value="Beige">
        
        <button> Filter </button>
</form>
 -->
<!-- <div class= "Filter">
		<p>Filter by Price :</p>
		
</div> -->




	<% @list.each do |furniture| %>

<div class= "selection">
	<a href="/furnitures/<%=furniture.id%>">
		<div class= "Furniture_list">
			<img src="<%=furniture.store_image%>" height= 150px> <%=furniture.store%> -  $:<%=furniture.price%> 
		</div>
	</a>

</div>
	
	 	
	
	<% end %>

 		