<h3>Select furniture: </h3>

<form class= "Filter">
		<p>Filter by Store :</p>
		<label for="store"> Ikea </label>
        <input type="checkbox" name="store[]" value="Ikea">

        <label for="store"> Target</label>
        <input type="checkbox" name="store[]" value="Target">

        <label for="store"> Overstock </label>
        <input type="checkbox" name="store[]" value="Overstock">

        <button> Filter </button>
</form>

<!-- <div class= "Filter">
		<p>Filter by Color :</p>
		<label for="store"> Black </label>
        <input type="checkbox" name="color[]" value="Black">

        <label for="store"> Grey </label>
        <input type="checkbox" name="color[]" value="Grey">

        <label for="store"> Beige </label>
        <input type="checkbox" name="color[]" value="Beige">
</div>

<div class= "Filter">
		<p>Filter by Price :</p>
		
</div> -->




	<% @list.each do |furniture| %>


	<a href="/furnitures/<%=furniture.id%>">
		<div>
			<img src="<%=furniture.store_image%>">
			<p> <%=furniture.store%> -  $:<%=furniture.price%> </p>

		</div>
	</a>
	
	 	
	
	<% end %>

 		